{extend name="base" /}
{block name="body"}
<blockquote class="layui-elem-quote news_search">

    <div class="layui-inline">

        <ob_link><a class="layui-btn layui-btn-normal Add_btn" data-title="添加文章" data-url="{:url('sharesAdd')}"><i
                class="fa fa-plus"></i> 新 增</a></ob_link>

    </div>
    <div class="layui-inline">
        <ob_link><a class="layui-btn layui-btn-danger batchDel" data-url="{:url('sharesAlldel')}">批量删除</a></ob_link>

    </div>
    {notempty name='list'}
    <div class="layui-inline">
        <a class="layui-btn layui-btn-normal exportExcel" href="{:url('index/exportExcel',array('name'=>'周期精灵内容列表','tabname'=>'shares'))}">导出excel</a>
    </div>
    {/notempty}
</blockquote>
<div class="layui-form users_list">
    <table class="layui-table">
        <thead>
        <tr>
            {notempty name='list'}
            <th width="5%" style="text-align:center"><input type="checkbox" name="" lay-skin="primary"
                                                            lay-filter="allChoose" id="allChoose"></th>
            {/notempty}
            <th><a href="">发布时间</a></th>
        <!--    <th>精品</th>
            <th>置顶</th>-->
            <th>市场连板指数</th>
            <th>市场超跌指数</th>
            <th>操作建议</th>
            <th>周期</th>
            <th>L2</th>
            <th>L1</th>
            <th>关注股</th>
            <th>荐股胜率</th>
        <!--    <th>创建时间</th>
            <th>更新时间</th>-->
            <th>状态</th>
            <th>操作</th>
        </tr>
        </thead>
        {notempty name='list'}
        <tbody class="users_content">
        {foreach name="$list" item="vo"}
        <tr>
            <td width="5%" style="text-align:center"><input type="checkbox" name="checked" lay-skin="primary"
                                                            lay-filter="choose" value="{$vo.id}"></td>
            <td>{$vo.title}</td>

<!--
            <td><input type="checkbox" data-url="{:url('sharesCstatus',['id'=>$vo['id']])}" name="choice"
                       lay-skin="switch" lay-text="精品|普通" lay-filter="switchTest" value="{$vo['choice']}" {php}echo $vo['choice']==1
                ? 'checked' : '';{/php}>
            </td>
            <td><input type="checkbox" data-url="{:url('sharesCstatus',['id'=>$vo['id']])}" name="settop"
                       lay-skin="switch" lay-text="置顶|普通" lay-filter="switchTest" value="{$vo['settop']}" {php}echo $vo['settop']==1
                ? 'checked' : '';{/php}>
            </td>-->
            <td>{$vo.market_connectivity_index}%</td>
            <td>{$vo.market_overfall_index}</td>
            <td>{$vo.operation_suggestion}</td>
            <td>{$vo.cycle_shares}</td>
            <td>{$vo.grade2_shares}</td>
            <td>{$vo.grade1_shares}</td>
            <td>{$vo.follow_shares}</td>
            <td>{$vo.share_winning_rate}%</td>
     <!--       <td>{$vo.create_time|friendlyDate='full'}</td>
            <td>{$vo.update_time|friendlyDate='full'}</td>-->
            <td><input type="checkbox" data-url="{:url('sharesCstatus',['id'=>$vo['id']])}" name="ispublic"
                       lay-skin="switch" lay-text="已发|未发" lay-filter="switchTest" value="{$vo['ispublic']}" {php}echo $vo['ispublic']==1
                ? 'checked' : '';{/php}>
            </td>
            <td>
                <ob_link><a data-title="编辑文章" data-url="{:url('sharesEdit',['id'=>$vo['id']])}"
                            class="layui-btn layui-btn-mini users_edit"><i class="fa fa-edit"></i>编辑</a></ob_link>

                <ob_link><a class="layui-btn layui-btn-danger layui-btn-mini users_del" href="javascript:;"
                            data-url="{:url('sharesDel', array('id' => $vo['id']))}"><i class="fa fa-trash-o"></i> 删
                    除</a></ob_link>

            </td>
        </tr>
        {/foreach}
        </tbody>
        {else/}
        <tbody class="users_content">
        <tr class="odd">
            <td colspan="8" class="text-center" valign="top">{:config('empty_list_describe')}</td>
        </tr>
        </tbody>
        {/notempty}
    </table>
</div>


{/block}
{block name="page"}
<div class="btable-paged">
    <div class="layui-main">
        {$list->render()}
    </div>
</div>
{/block}
